@page 
@model Proiect3.Pages.Media.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
 <thead>
 <tr>
 <th>
 @Html.DisplayNameFor(model => model.MediaList[0].Id)
 </th>
 <th>
 @Html.DisplayNameFor(model => model.MediaList[0].IsVideo)
 </th>
     <th>
         Previw
     </th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 @foreach (var item in Model.MediaList)
 {
 <tr style="font-size:small" >
 <td>
 @Html.DisplayFor(modelItem => item.Id)
 </td>
 <td>
 @Html.DisplayFor(modelItem => item.IsVideo)
 </td>
 <td>
 <img src="@Html.DisplayFor(modelItem => item.Path)" />
 </td>
 <td>
     <a asp-page="./Details" asp-route-id="@item.Id">Edit</a> |
 </td>
 </tr>
 }
 </tbody>
</table>

